.basic-grid {
  display: grid;
  gap: 1rem;

  /* This divides the row into 12 columns*/
  grid-template-columns: repeat(12, 1fr);

  /*min of 240px max 1fr*/
  grid-template-columns: repeat(12, minmax(240px, 1fr));

  /*implicit grid. auto-fit calculates amount of rows and columns on the fly*/
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
